# Database
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

# Example for NeonDB:
# DATABASE_URL="postgresql://your-username:your-password@ep-xxx-xxx.us-east-1.aws.neon.tech/your-database?sslmode=require"
